@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: beige;
  font-family: 'Gabarito', sans-serif;
  text-transform: lowercase;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.ad {
  width: 300px;
  height: 250px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  box-shadow: 8px 8px rgba(0,0,0,0.3);
}

.top-left {
  font-size: 20px;
  align-self: flex-start;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  align-self: flex-end;
  font-weight: 900;
}

p {
  font-size: 16px;
  align-self: flex-start;
  margin: 0;
  font-weight: 200;
}

.ad-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#play-bird-sound {
  background-color: teal;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 400;
  text-transform: lowercase;
}

#play-bird-sound:hover {
  background-color: rgb(3, 85, 85);
}